<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.nexacro_xapi.api.mapper.ProjectMapper" >
    <select id="getList"
            parameterType="com.example.nexacro_xapi.api.entity.ProjectEntity"
            resultType="com.example.nexacro_xapi.api.entity.ProjectEntity">
        SELECT
			 PJ_ID AS id
		    ,PJ_NM AS prj_nm
			,PJ_PROCESS AS progress
			,PJ_OWNER AS owner_id
			,PJ_STATUS AS status
			,PJ_START_DT AS strt_date
			,PJ_END_DT AS end_date
			,PJ_TAG_NM AS tag_name
			,PJ_PROCESS_TASK AS progress_task
			,TEMPLETEID AS template
			,PJ_DESC AS description
			,DONE AS is_done
			,GROUPID AS group_id
		FROM projects
        <where>
            DELETED = false
        </where>
    </select>
    <insert id="create" useGeneratedKeys="true" keyProperty="id" parameterType="com.example.nexacro_xapi.api.entity.ProjectEntity">
	  	INSERT INTO projects(
			  PJ_NM
			, DELETED
			, PJ_PROCESS
			, PJ_OWNER
			, TEMPLETEID
			, PJ_START_DT
			, PJ_END_DT
			, PJ_DESC
			, GROUPID
			, PJ_TAG_NM
			, PJ_STATUS
			, PJ_PROCESS_TASK
			, DONE
	  		, CREATE_DT
	  		, LAST_CHG_DT
	  		, CREATE_ID
	  		, LAST_CHG_ID
	  		)
  		VALUES (
			  #{PJ_NM}
  			, #{DELETED}
  			, #{PJ_PROCESS}
	  		, #{PJ_OWNER}
	  		, #{TEMPLETEID}
	  		, #{PJ_START_DT}
	  		, #{PJ_END_DT}
	  		, #{PJ_DESC}
	  		, #{GROUPID}
	  		, #{PJ_TAG_NM}
	  		, #{PJ_STATUS}
			, #{PJ_PROCESS_TASK}
	  		, #{DONE}
  			, date_trunc('second', now()::timestamp)
  			, date_trunc('second', now()::timestamp)
  			, #{CREATE_ID}
  			, #{LAST_CHG_ID}
  			)
	</insert>
	<update id="update" parameterType="com.example.nexacro_xapi.api.entity.ProjectEntity">
		UPDATE projects
		SET PJ_NM=#{PJ_NM}
			, PJ_OWNER=#{PJ_OWNER}
			, TEMPLETEID=#{TEMPLETEID}
			, PJ_END_DT=#{PJ_END_DT}
			, PJ_DESC=#{PJ_DESC}
			, GROUPID=#{GROUPID}
		  	, PJ_PROCESS =#{PJ_PROCESS}
		  	, PJ_PROCESS_TASK =#{PJ_PROCESS_TASK}
			, PJ_TAG_NM=#{PJ_TAG_NM}
			, updated_at=date_trunc('second', now()::timestamp)
			, updated_by=#{LAST_CHG_ID}
		WHERE PJ_ID = #{PJ_ID}
	</update>
</mapper>