<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.nexacro_xapi.mapper.User.EmployeeMapper" >
    <select id="getAllProjects"
            parameterType="com.example.nexacro_xapi.entity.ProjectEntity"
            resultType="com.example.nexacro_xapi.entity.ProjectEntity">
        SELECT
            PJ_ID,
            PJ_NM,
            PJ_OWNER,
            PJ_START_DT,
            PJ_END_DT,
            PJ_RESOLVE_DT,
            PJ_DESC,
            PJ_YN,
            PJ_PROCESS,
            PJ_ACTION,
            CREATE_ID,
            CREATE_DT,
        FROM TB_PROJECT

    </select>

    <select id="getProject"
            parameterType="com.example.nexacro_xapi.entity.ProjectEntity"
            resultType="com.example.nexacro_xapi.entity.ProjectEntity">
        SELECT
            PJ_ID,
            PJ_NM,
            PJ_OWNER,
            PJ_START_DT,
            PJ_END_DT,
            PJ_RESOLVE_DT,
            PJ_DESC,
            PJ_YN,
            PJ_PROCESS,
            PJ_ACTION,
            CREATE_ID,
            CREATE_DT,
        FROM TB_PROJECT
        <where>
            PJ_NM like '%' || #{PJ_NM} || '%'
        </where>
    </select>

    <update id="updateProject"
            parameterType="com.example.nexacro_xapi.entity.ProjectEntity">
        UPDATE TB_PROJECT
        SET PJ_NM = {PJ_NM},
            PJ_OWNER = {PJ_OWNER},
            PJ_START_DT = {PJ_START_DT},
            PJ_END_DT = {PJ_END_DT},
            PJ_RESOLVE_DT = {PJ_RESOLVE_DT},
            PJ_DESC = {PJ_DESC},
            PJ_YN = {PJ_YN},
            PJ_PROCESS = {PJ_PROCESS},
            PJ_ACTION = {PJ_ACTION},
            UPDATED_BY = #{USERID},
            UPDATED_AT = SYSDATE
        WHERE PJ_ID = #{PJ_ID}
    </update>

    <update id="deleteProject"
            parameterType="com.example.nexacro_xapi.entity.ProjectEntity">
        DELETE FROM TB_PROJECT
        WHERE PJ_ID = #{PJ_ID}
    </update>

    <insert id="createProject" useGeneratedKeys="true" keyProperty="id"  parameterType="com.example.nexacro_xapi.entity.ProjectEntity">
        INSERT INTO TB_PROJECT(
            PJ_ID,
            PJ_NM,
            PJ_OWNER,
            PJ_START_DT,
            PJ_END_DT,
            PJ_RESOLVE_DT,
            PJ_DESC,
            PJ_YN,
            PJ_PROCESS,
            PJ_ACTION,
            CREATE_ID,
            CREATE_DT,
        )
        VALUES (
            #{PJ_ID},
            #{PJ_NM},
            #{PJ_OWNER},
            #{PJ_START_DT},
            #{PJ_END_DT},
            #{PJ_RESOLVE_DT},
            #{PJ_DESC},
            #{PJ_YN},
            #{PJ_PROCESS},
            #{PJ_ACTION},
            SYSDATE,
            SYSDATE
        )
    </insert>


</mapper>