<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.nexacro_xapi.api.mapper.TaskMapper" >
    <select id="getList"
            parameterType="com.example.nexacro_xapi.api.entity.TaskEntity"
            resultType="com.example.nexacro_xapi.api.entity.TaskEntity">
        SELECT
			TASK_ID
			,TASK_NM
			,TASK_OWNER
			,TASK_STT
			,TASK_START_DT
			,TASK_START_END
			,TASK_PRIORITY
			,TASK_TAG
			,TASK_BILL
		FROM TB_TASK
        <where>
             AND TASK_ID = #{TASK_ID}
        </where>
    </select>
	<insert id="addTask"  parameterType="com.example.nexacro_xapi.api.entity.TaskEntity">
		INSERT INTO TB_TASK(
							 TASK_ID
							,TASK_NM
							,TASK_OWNER
							,TASK_STT
							,TASK_START_DT
							,TASK_START_END
							,TASK_PRIORITY
							,TASK_TAG
							,TASK_BILL
		)
		VALUES (
				   #{TASK_ID}
			   ,#{TASK_NM}
			   ,#{TASK_OWNER}
			   ,#{TASK_STT}
			   ,#{TASK_START_DT}
			   ,#{TASK_START_END}
			   ,#{TASK_PRIORITY}
			   ,#{TASK_TAG}
			   ,#{TASK_BILL}
			   )
	</insert>
	<delete id="deleteTask" parameterType="com.example.nexacro_xapi.api.entity.TaskEntity">
		DELETE FROM TB_TASK WHERE  TASK_ID = #{TASK_ID}
	</delete>
</mapper>