<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.nexacro_xapi.api.mapper.EmployeeMapper" >
    <select id="getList"
            parameterType="com.example.nexacro_xapi.entity.TaskEntity"
            resultType="com.example.nexacro_xapi.entity.TaskEntity">
        SELECT
            *
        FROM
            TB_TASK
        <where>
            1 = 1
            <if test="TASK_NM != null and TASK_NM != ''">
             AND   TASK_NM like '%' || #{TASK_NM} || '%'
            </if>
        </where>
    </select>

    <select id="getTaskByCd"
            parameterType="com.example.nexacro_xapi.entity.TaskEntity"
            resultType="com.example.nexacro_xapi.entity.TaskEntity">
        SELECT
        GROUP_ID
        FROM TB_TASK
        <where>
            TASK_ID = #{TASK_ID}
        </where>
    </select>

    <insert id="addGroup" useGeneratedKeys="true" keyProperty="id"  parameterType="com.example.nexacro_xapi.entity.GroupEntity">
        INSERT INTO TB_TASK(
                             TASK_ID
                            ,TASK_NM
                            ,TASK_OWNER
                            ,TASK_STT
                            ,TASK_START_DT
                            ,TASK_START_END
                            ,TASK_PRIORITY
                            ,TASK_TAG
                            ,TASK_BILL
                            ,CREATED_BY
                            ,UPDATED_BY
                            ,CREATED_AT
                            ,UPDATED_AT
        )
        VALUES (
               ,#{TASK_ID}
               ,#{TASK_NM}
               ,#{USERID}
               ,#{TASK_STT}
               ,#{TASK_START_DT}
               ,#{TASK_START_END}
               ,#{TASK_PRIORITY}
               ,#{TASK_TAG}
               ,#{TASK_BILL}
               ,#{USERID}
               ,#{USERID}
               ,SYSDATE
               ,SYSDATE
               )
    </insert>
</mapper>